{% load static %}
<div class="friend-card-container">
    <a class="info-shell" href="{% url 'profile' friend.friend.pk %}">
        <div class="left-part">
            {% if friend.friend.avatar %}
            <img src="{{ friend.friend.avatar.image.url }}" alt="">
            {% else %}
            <img src="{% static 'assets/user-no-avatar.png' %}" alt="">
            {% endif %}
            <div class="level-container">
                <p class="level" style="background-color: var(--blue);">{% if friend.friend.gender == "Vyras" %}{{ friend.get_level_display }}{% else %}{{ friend.get_level_display|slice:"0:-2"|add:"ė" }}{% endif %}</p>
            </div>
        </div>
        <div class="right-part">
                <div class="header">
                    <small>{{ friend.friend.age }}m. {{ friend.friend.gender|lower|slice:"0:3" }}. {{ friend.friend.city|title }}</small>
                </div>
                <div class="name-part">
                    <h2>{{ friend.friend.first_name|title }} {{ friend.friend.last_name|title }}</h2>
                </div>
                <div class="interest-container">
                    {% include "components/interests-duplicate.html" %}
                </div>
                <div class="description-shell">
                    <p>{{ friend.friend.description|truncatechars:150 }}</p>
                </div>
        </div>
    <div class="price-part">
        <small>Kaina val. </small>
        <span><strong>{{ friend.price_per_hour }}</strong> €</span>
    </div>
    </a>
    <div class="action-part">
        <a href="#" class="meetup-btn">
            <svg class="meetup-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 352c0 35.3 28.7 64 64 64l96 0 0 80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416 448 416c35.3 0 64-28.7 64-64l0-288c0-35.3-28.7-64-64-64L64 0z"/></svg>
            <span>Susitikti</span>
        </a>
    </div>
</div>