{% if friend.friend.interest_one %}
<p class="interest-item" style="background-color: {{ friend.friend.interest_color_one }};">{{friend.friend.interest_one}}</p>
{% endif %}
{% if friend.friend.interest_two %}
<p class="interest-item" style="background-color: {{ friend.friend.interest_color_two }};">{{friend.friend.interest_two}}</p>
{% endif %}
{% if friend.friend.interest_three %}
<p class="interest-item" style="background-color: {{ friend.friend.interest_color_three }};">{{friend.friend.interest_three}}</p>
{% endif %}
{% if friend.friend.interest_four %}
<p class="interest-item" style="background-color: {{ friend.friend.interest_color_four }};">{{friend.friend.interest_four}}</p>
{% endif %}