<div class="news-container">
    <h2>Naujienos</h2>

    <div class="news">
        <div class="news-item">
            <span class="marker">dev</span>
                <h3><a href="#">Tūkstantis vartotojų!</a> <small>šiandien</small></h3>
        </div>
        <div class="news-item">
            <span class="marker">dev</span>
            <h3><a href="#">Nauja Funkcija: Pavedimai kortele!</a> <small>vakar</small></h3>
        </div>
        <div class="news-item">
            <span class="marker">dev</span>
            <h3><a href="#">Tūkstantis vartotojų!</a> <small>šiandien 11:23</small></h3>
        </div>
        <div class="news-item">
            <span class="marker">dev</span>
            <h3><a href="#">Tūkstantis vartotojų!</a> <small>šiandien 11:23</small></h3>
        </div>
    </div>
</div>