{% load static %}
<div class="notification-container">
    <h2>Pranešimai</h2>

    <div class="notifications">
        <div class="notification-item">
            <img src="{% static 'assets/user-no-avatar.png' %}" alt="">
                <p><a href="#">Donatas L. patvirtino jūsų užsakymą.</a> <small>šiandien 11:23</small></p>
        </div>
        <div class="notification-item">
            <img src="{% static 'assets/user-no-avatar.png' %}" alt="">
                <p><a href="#">Donatas L. patvirtino jūsų užsakymą.</a> <small>šiandien 11:23</small></p>
        </div>
        <div class="notification-item">
            <img src="{% static 'assets/user-no-avatar.png' %}" alt="">
                <p><a href="#">Donatas L. patvirtino jūsų užsakymą.</a> <small>šiandien 11:23</small></p>
        </div>
        <div class="notification-item">
            <img src="{% static 'assets/user-no-avatar.png' %}" alt="">
                <p><a href="#">Donatas L. patvirtino jūsų užsakymą.</a> <small>šiandien 11:23</small></p>
        </div>
    </div>
</div>