<div class="search-container">
    <form action="" method="get">
        <div class="search-box">
            <input class="search-field" type="search" name="q" id="q" placeholder="paieška" autocomplete="off">
            <input type="submit" value="Ieškoti" class="search-submit">
        </div>
        <div class="filter-container">
            <div class="filter">
                <select name="city" id="city-filter">
                    <option value="" {% if not city %} selected {% endif %}>Miestas</option>
                    <option value="">----------</option>
                    {% for key, value in cities.items %}
                    <option value="{{key}}" {% if city == value %} selected {% endif %}>{{value}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="filter">
                <select name="gender" id="gender-filter">
                    <option value="" {% if gender %} selected {% endif %}>Lytis</option>
                    <option value="">----------</option>
                    {% for key, value in genders.items %}
                    <option value="{{key}}" {% if value == gender %} selected {% endif %}>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <select name="filter-by" id="gender-filter">
                    <option value="" {% if not sort_by %} selected {% endif %}>Rūšiavimas</option>
                    <option value="">----------</option>
                    <option value="age_up" {% if sort_by == 'age_up' %} selected {% endif %}>Jaunausi</option>
                    <option value="age_down" {% if sort_by == 'age_down' %} selected {% endif %}>Seniausi</option>
                </select>
            </div>
        </div>
    </form>
</div>