<div class="search-container">
    <form action="" method="get">
        <div class="search-box">
            <input class="search-field" type="search" name="q" id="q" placeholder="pvz. Jonas" autocomplete="off">
            <input type="submit" value="Ieškoti" class="search-submit">
        </div>
        <div class="filter-container">
            <div class="filter">
                <select name="city" id="city-filter">
                    <option value="" selected>Miestas</option>
                    <option value="">----------</option>
                    {% for key, value in cities %}
                    <option value="{{value}}">{{key}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="filter">
                <select name="gender" id="gender-filter">
                    <option value="" selected>Lytis</option>
                    <option value="">----------</option>
                    {% for key, value in genders %}
                    <option value="{{value}}">{{key}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <select name="filter-by" id="gender-filter">
                    <option value="" selected>Pirmenybė</option>
                    <option value="">----------</option>
                    <option value="age_up">Jaunausi</option>
                    <option value="age_down">Seniausi</option>
                </select>
            </div>
        </div>
    </form>
</div>