<!DOCTYPE html>
{% load static %}
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Draugai | Anti Vienas</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    {% include "components/top-nav.html" %}
    <main class="main-section main-triple-split">
        <div class="left-container">
            {% include "components/side-nav.html" %}
            {% include "components/terms-of-service.html" %}
        </div>
        <div class="middle-container">
            {% include "components/search-box.html" %}

            <!-- IF NO RESULTS FOUND
                <p class="no-results-search">
                Draugų, su tokiais paieškos parametrais, neradome. Galbūt nori <a href="#">būti pirmas</a>?
            </p> 
            -->
            {% include "components/friend-card.html" %}
        </div>
        <div class="right-container">
            {% include "components/notifications.html" %}
            <hr>
            {% include "components/monthly-stats.html" %}
        </div>

    </main>
</body>
</html>