<!DOCTYPE html>
{% load static %}
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Draugai | Anti Vienas</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body x-data="{'isIDModalOpen': false, 'isEditModalOpen': false, 'isOrderModalOpen': false}" x-on:keydown.escape="isIDModalOpen=false; isEditModalOpen=false; isOrderModalOpen=false">
    {% include "components/top-nav.html" %}
    <main class="main-section main-double-split">
        <div class="left-container">
            {% include "components/side-nav.html" %}
            {% include "components/terms-of-service.html" %}
        </div>
        <div class="middle-container">
            <div class="profile-manager">
                <div class="details-container">
                    <div class="images-container">
                        <div class="image-container" data-id="0">
                            <img src="{{ user.img_one.url }}" alt="">
                        </div>
                        <!-- <div class="carousel">
                            <div class="left-img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z"/></svg>
                            </div>
                            <div class="img-preview" data-id="0"><img src="{% static 'assets/user-no-avatar.png' %}" alt=""></div>
                            <div class="img-preview" data-id="1"><img src="{% static 'assets/user-no-avatar.png' %}" alt=""></div>
                            <div class="img-preview" data-id="2"><img src="{% static 'assets/user-no-avatar.png' %}" alt=""></div>
                            <div class="right-img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
                            </div>
                        </div> -->
                        <p>Tapo nariu: {{user.date_joined|date:"m-Y"}}</p>
                    </div>
                    <div class="info-container">
                        <div class="name-container"><h1>{{user.first_name}} {{user.last_name}}</h1> <small>{{ user.gender|lower|slice:"0:3" }}. {{ user.age }}m.</small></div>
                        <div class="level-container">
                            {% if friend_params %}
                            <p class="level" style="background-color: var(--blue);">{{friend_params.get_level_display}}</p>
                            {% endif %}
                            <div class="id-container">
                            {% if user.is_id_verified %}
                                <svg style="fill: var(--checkmark-color);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                                <p style="color: var(--checkmark-color);">tapatybė patvirtinta</p>
                            {% else %}
                                <svg style="fill: var(--pre-text);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                                <p style="color: var(--pre-text);">tapatybė nepatvirtinta</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="detail-grid">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                                <p>{{user.city}}</p>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M177.9 494.1c-18.7 18.7-49.1 18.7-67.9 0L17.9 401.9c-18.7-18.7-18.7-49.1 0-67.9l50.7-50.7 48 48c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-48-48 41.4-41.4 48 48c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-48-48 41.4-41.4 48 48c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-48-48 41.4-41.4 48 48c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-48-48 50.7-50.7c18.7-18.7 49.1-18.7 67.9 0l92.1 92.1c18.7 18.7 18.7 49.1 0 67.9L177.9 494.1z"/></svg>
                                {% if user.height_cm %}
                                <p>{{user.height_cm}} cm.</p>
                                {% else %}
                                <p>Nenurodyta</p>
                                {% endif %}
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg>
                                {% if user.education %}
                                <p>{{user.education}} išsilavinimas</p>
                                {% else %}
                                <p>Nenurodyta</p>
                                {% endif %}
                            </div>
                            <div class="rating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                <p>Nėra įvertinimų</p>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z"/></svg>
                                {% if user.job %}
                                <p>{{ user.job }}</p>
                                {% else %}
                                <p>Nenurodyta</p>
                                {% endif %}
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>
                                {% if user.personality_type %}
                                <p>{{user.personality_type}}{{text_ending}}</p>
                                {% else %}
                                <p>Nenurodyta</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="interest-container">
                            {% if user.interest_one %}
                            <p class="interest-item" style="background-color: {{ user.interest_color_one }};">{{user.interest_one}}</p>
                            {% endif %}
                            {% if user.interest_two %}
                            <p class="interest-item" style="background-color: {{ user.interest_color_two }};">{{user.interest_two}}</p>
                            {% endif %}
                            {% if user.interest_three %}
                            <p class="interest-item" style="background-color: {{ user.interest_color_three }};">{{user.interest_three}}</p>
                            {% endif %}
                            {% if user.interest_four %}
                            <p class="interest-item" style="background-color: {{ user.interest_color_four }};">{{user.interest_four}}</p>
                            {% endif %}
                        </div>
                        {% if friend_params and friend_params.is_public %}
                        <div class="price-container">
                            <p><strong>Susitikimo kaina: {{friend_params.price_per_hour}}€/val.</strong></p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="description-container">
                    <h2>Aprašymas</h2>
                    {% if user.description %}
                    {{ user.description|linebreaks }}
                    {% else %}
                    <p style="font-style: italic;">Aprašymo nėra</p>
                    {% endif %}
                </div>
                <div class="btn-container">
                    {% if request.user == user %}
                    <button type="button" id="edit-profile-btn" x-on:click="isEditModalOpen = true">Redaguoti profilį</button>
                    {% endif %}
                    <!-- {% if request.user == user %}
                    <button type="button" id="order-btn" x-on:click="isIDModalOpen = true">Patvirtinti tapatybę</button>
                    {% endif %} -->
                    {% if friend_params and request.user %}
                        {% if request.user.is_authenticated %}
                    <button type="button" id="order-btn" x-on:click="isOrderModalOpen = true">Siūlyti susitikti</button>
                        {% else %}
                        <a href="{% url 'login' %}"><button type="button" id="order-btn">Siūlyti susitikti</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <div class="overlay" x-show="isIDModalOpen || isEditModalOpen || isOrderModalOpen" x-cloak></div>
    <!-- {% if request.user == user %}
    <div
        class="modal"
        role="dialog"
        tabindex="-1"
        x-show="isIDModalOpen"
        x-on:click.away="isIDModalOpen = false"
        x-cloak
        >
            <div class="model-inner">
            <div class="modal-header">
                <h3>Įkelkite asmens dokumento nuotrauką</h3>
                <button aria-label="Close" x-on:click="isIDModalOpen=false" id="close-modal">✖</button>
            </div>
            <small>Dėl patikimumo, draugai su patvirtinta tapatybę sulaukia daugiau užsakymų iš vartotojų.</small><br><br>
            <small>Tapatybės patvirtinimas gali užtrukti 1-3 darbo dienas. Kad viskas vyktų sklandžiai, prašome įkelti tvarkingą asmens dokumento nuotrauką.</small>
            <p><strong>Reikalavimai:</strong></p>
                <ul>
                    <li>Nuotraukos dydis iki 2MB</li>
                    <li>Galimi formatai: png, jpg, jpeg, webp</li>
                </ul>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="shell">
                    <input type="file" name="image" id="image-input">
                </div>
                <div class="aligner">
                    <button type="submit" class="warning">Įkelti</button>
                    <button aria-label="Close" x-on:click="isIDModalOpen=false" type="reset">Uždaryti</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %} -->
    {% if friend_params and request.user.is_authenticated %}
    <div
        class="modal"
        role="dialog"
        tabindex="-1"
        x-show="isOrderModalOpen"
        x-on:click.away="isOrderModalOpen = false"
        x-cloak
        >
            <div class="model-inner">
            <div class="modal-header">
                <h3>Susitikimo užklausa</h3>
                <button aria-label="Close" x-on:click="isOrderModalOpen=false" id="close-modal">✖</button>
            </div>
            <small class="explainer">Po užklausos išsiuntimo, draugas turės ją peržiūrėti ir patvirtinti. Taigi, prieš susitikimą, būtinai patikrinkite, ar jūsų užsakymas buvo patvirtintas.</small>
            <form action="" class="meeting-form" method="post">
                <input type="hidden" name="user-id" value="{{user.id}}">
                    <div class="meeting-field">
                        <label for="meeting-day">Susitikimo diena:</label>
                        <input type="date" name="meeting-day" id="meeting-day">
                    </div>
                    <div class="meeting-field">
                        <label for="meeting-hour">Valanda:</label>
                        <select name="meeting-hour" id="">
                            <option value="0900">09:00</option>
                            <option value="0930">09:30</option>
                            <option value="1000">10:00</option>
                            <option value="1030">10:30</option>
                            <option value="1100">11:00</option>
                            <option value="1130">11:30</option>
                            <option value="1200">12:00</option>
                            <option value="1230">12:30</option>
                            <option value="1300">13:00</option>
                            <option value="1330">13:30</option>
                            <option value="1400">14:00</option>
                            <option value="1430">14:30</option>
                            <option value="1500">15:00</option>
                            <option value="1530">15:30</option>
                            <option value="1600">16:00</option>
                            <option value="1630">16:30</option>
                            <option value="1700">17:00</option>
                            <option value="1730">17:30</option>
                            <option value="1800">18:00</option>
                            <option value="1830">18:30</option>
                            <option value="1900">19:00</option>
                            <option value="1930">19:30</option>
                            <option value="2000">20:00</option>
                        </select>
                    </div>
                    <div class="meeting-field">
                        <label>Trukmė val.</label>
                        <input type="number" name="meeting-length" id="meeting-length" min="1" max="336" value="1">
                    </div>
                <div class="meeting-field">
                    <label for="meeting-place">Susitikimo vieta:</label>
                    <input type="text" name="meeting-place" id="meeting-address" placeholder="adresas ir detalės" required>
                </div>
                <label for="meeting-comment">Komentaras:</label>
                <textarea name="meeting-comment" id="comment" placeholder="ką veiksite susitikimo metu" required></textarea>
                <hr>
                <div class="meeting-field-row">
                    <label class="bolder"><strong>Galutinė kaina: </strong></label>
                    <input type="text" disabled id="meeting-price" class="bolder">
                </div>
                <hr>

                <div class="aligner">
                    <button type="submit" class="warning">Teikti užklausą</button>
                    <button aria-label="Close" x-on:click="isOrderModalOpen=false" type="button">Uždaryti</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let date = new Date();
        let meeting_date = document.getElementById("meeting-day");
        date.setDate(date.getDate() + 1)
        meeting_date.min = date.toISOString().split('T')[0];
        meeting_date.value = date.toISOString().split('T')[0];
        
        let meeting_length = document.getElementById("meeting-length");
        let meeting_price = document.getElementById("meeting-price");
        let user_price = 25;
        meeting_price.value = (meeting_length.value * user_price).toString() + " €";

        meeting_length.addEventListener("input", ()=>{
            meeting_price.value = (meeting_length.value * user_price).toString() + " €";
        })

    </script>
    {% endif %}
    {% if request.user == user %}
    <div
        class="modal"
        role="dialog"
        tabindex="-1"
        x-show="isEditModalOpen"
        x-on:click.away="isEditModalOpen = false"
        x-cloak
        >
            <div class="model-inner">
            <div class="modal-header">
                <h3>Profilio duomenys</h3>
                <button aria-label="Close" x-on:click="isEditModalOpen=false" id="close-modal">✖</button>
            </div>
            <form action="{% url 'profile-update' request.user.pk %}" method="post" enctype="multipart/form-data" class="profile-form">
                {% csrf_token %}
                <div class="profile-field">
                    <label for="first_name">*Vardas:</label>
                    <input type="text" name="first_name" value="{{request.user.first_name}}">
                </div>
                <div class="profile-field">
                    <label for="birthday">*Gimimo data:</label>
                    <input type="date" name="birthday" value="{{request.user.birthday|date:'Y-m-d'}}">
                </div>
                <div class="profile-field">
                    <label for="last_name">*Pavardė:</label>
                    <input type="text" name="last_name" value="{{request.user.last_name}}">
                </div>
                <div class="profile-field">
                    <label for="city">*Susitikimų vieta:</label>
                    <select name="city" id="">
                        {% for key, value in cities.items %}
                        <option value="{{key}}" {% if request.user.city == value %} selected {% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="profile-field">
                    <label for="job">Specialybė:</label>
                    <input type="text" name="job" id="" maxlength="40" value="{{request.user.job}}">
                </div>
                <div class="profile-field">
                    <label for="education">Išsilavinimas:</label>
                    <select name="education" id="">
                        <option value=""></option>
                        {% for key, value in educations.items %}
                        <option value="{{key}}" {% if value == request.user.education %} selected {% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="profile-field">
                    <div class="age-gender">
                        <div class="flex-col">
                            <label for="gender">*Lytis:</label>
                            <select name="gender" id="">
                                {% for key, value in genders.items %}
                                <option value="{{key}}" {% if value == request.user.gender %} selected {% endif %}>{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex-col">
                            <label for="height_cm">Ūgis cm:</label>
                            <input type="number" min="0" max="300" name="height_cm" value="{{request.user.height_cm}}">
                        </div>
                    </div>
                </div>
                <div class="profile-field">
                    <label for="personality_type">Asmenybė:</label>
                    <select name="personality_type" id="">
                        <option value=""></option>
                        {% for key, value in personality_types.items %}
                        <option value="{{key}}" {% if value == request.user.personality_type %} selected {% endif %}>{{value}}{{text_ending}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="profile-field">
                    <div class="flex-col">
                        <label for="interest_one">1) Pomėgis:</label>
                        <input type="text" name="interest_one" id="" maxlength="50" value="{{request.user.interest_one}}">
                    </div>
                    <input type="hidden" name="interest_color_one" id="interest-color-one" value="{{request.user.interest_color_one}}">
                </div>
                <div class="color-picker" id="color-picker-one">
                    {% include 'components/color-boxes.html' %}
                </div>
                <div class="profile-field">
                    <label for="interest_two">2) Pomėgis:</label>
                    <input type="text" name="interest_two" id="" maxlength="50" value="{{request.user.interest_two}}">
                    <input type="hidden" name="interest_color_two" id="interest-color-two" value="{{request.user.interest_color_two}}">
                </div>
                <div class="color-picker" id="color-picker-two">
                    {% include 'components/color-boxes.html' %}
                </div>
                <div class="profile-field">
                    <label for="interest_three">3) Pomėgis:</label>
                    <input type="text" name="interest_three" id="" maxlength="50" value="{{request.user.interest_three}}">
                    <input type="hidden" name="interest_color_three" id="interest-color-three" value="{{request.user.interest_color_three}}">
                </div>
                <div class="color-picker" id="color-picker-three">
                    {% include 'components/color-boxes.html' %}
                </div>
                <div class="profile-field">
                    <label for="interest_four">4) Pomėgis:</label>
                    <input type="text" name="interest_four" id="" maxlength="50" value="{{request.user.interest_four}}">
                    <input type="hidden" name="interest_color_four" id="interest-color-four" value="{{request.user.interest_color_four}}">
                </div>
                <div class="color-picker" id="color-picker-four">
                    {% include 'components/color-boxes.html' %}
                </div>
                <div class="frofile-field">
                    <label for="img_one">Profilio nuotrauka:</label>
                    <input type="file" name="img_one" id="">
                </div>
                <div class="aligner">
                    <button type="submit" class="warning">Atnaujinti</button>
                    <button aria-label="Close" x-on:click="isEditModalOpen=false" type="button">Uždaryti</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let arr = ["one", "two", "three", "four"];

        arr.forEach((num) =>{
            let color_picker_id = "color-picker-" + num;
            let interest_id = "interest-color-" + num;

            let color_picker = document.getElementById(color_picker_id);
            let picks = color_picker.getElementsByClassName("color-box");
            
            for (let i = 0; i < picks.length; i++){
                let input = document.getElementById(interest_id);
                //initial selection of color
                if (picks[i].dataset.color == input.value){
                    picks[i].classList.add("selected-color");
                }

                picks[i].addEventListener("click",()=>{
                    let selected_color = picks[i].dataset.color;
                    input.value = selected_color;
                    for (let j = 0; j < picks.length; j++){
                        picks[j].classList.remove("selected-color");
                    }
                    picks[i].classList.add("selected-color");

                })
            };
        })
    </script>
    {% endif %}
</body>
</html>