@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* VARIABLES */

:root{
    --bg: #F0F2F5;
    --component-bg: white; 
    --text: black;
    --pre-text: #686868;
    --light-gray: #D9D9D9;
    --nav-hover: #E8E9EA;
    --fade: #00000025;
    --expander-gray: #EAEAEA;
    --blue: #5f89ec;
    --soft-blue: #C9DEFF;
    --blue-hover: #81a6fd;
    --blue-notification: #A5CFED;
    --star-color: #FFD600;
    --yellow: #F6EAA5;
    --checkmark-color: #3c9940;
    --light-green: #CFF8D1;
    --light-green-hover: #b0f5b6;
    --accept-color: #84DC75;
    --pink: #F97FA4;
    --red: #FF8C8C;
}

/* GLOBAL CSS */

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
}

a{
    color: var(--text);
}
a:hover {
    text-decoration: none;
}

.nav-item{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
.nav-item:hover{
    background-color: var(--nav-hover);
}
.tos a{
    color: var(--pre-text);
    text-decoration: none;
}
.tos a:hover{
    text-decoration: underline;
}

/* components/top-nav.html */

.nav-top{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--component-bg);
    box-shadow: 0px 0px 4px 0px var(--fade);
    position: absolute;
    width: 100%;
}
.nav-top .logo-container a{
    display: flex;
    gap: 10px;
    text-decoration: none;
}
.nav-top img{
    max-width: 45px;
    border-radius: 50%;
}
.nav-top .site-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-top .guide-container{
    display: flex;
    justify-content: center;
}
.nav-top .user-container{
    display: flex;
    justify-content: end;
}
.nav-top h1{
    text-transform: uppercase;
    font-size: 16px;
}
.nav-top small{
    color: var(--pre-text);
}
.nav-top .user-expandable{
    position: relative;
}
.nav-top .expander{
    position: absolute;
    right: 0px;
    top: 25px;
    width: 15px;
    height: 15px;
    background-color: var(--light-gray);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.expander svg{
    width: 10px;
    height: 10px;
}
.nav-top .user-nav{
    position: absolute;
    background: var(--component-bg);
    min-width: 300px;
    right: 0;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px var(--fade);
    border-radius: 5px;
    z-index: 1;
}
.nav-top .user-nav .nav-item-logo{
    width: 45px;
    height: 45px;
    background-color: var(--component-bg);
    box-shadow: 0px 0px 4px 0px var(--light-gray);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.user-nav svg{
    max-width: 25px;
    max-height: 25px;
    fill: var(--text);
}
.nav-top hr{
    color: var(--fade);
    margin: 5px 0px;
}
.nav-top .wallet{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* MAIN TAG GRID SPLITS */
.main-triple-split{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.main-double-split{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
main{
    padding-top: 70px;
    height: 100%;
}
.left-container{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-container small{
    color: var(--pre-text);
}

/* SIDE NAV (LEFT) */
.side-nav svg{
    max-width: 25px;
    max-height: 25px;
    fill: var(--blue);
}
.side-nav .nav-item-logo{
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    height: 45px;
    background-color: var(--component-bg);
    box-shadow: 0px 0px 4px 0px var(--light-gray);
    justify-content: center;
    align-items: center;
    display: flex;
}

/* MIDDLE CONTAINER */
.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.middle-container::-webkit-scrollbar {
    display: none;
  }

/* SEARCH BOX COMPONENT */
.middle-container .search-container{
    background-color: var(--component-bg);
    width: 90%;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px 0px var(--fade);
}
.search-container .filter-container{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.search-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-container .filter select{
    border-radius: 20px;
    padding: 5px 10px;
    min-width: 120px;
    border: 1px solid gray;
}
.search-container .search-field{
    box-shadow: inset 1px 1px 2px 2px var(--fade);
    border: none;
    min-height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    width: 100%;
    font-size: 18px;
}
.search-container .search-field:focus-visible{
    outline: none;
}
.search-container .search-box{
    position: relative;
    display: flex;
    gap: 10px;
}
.search-container .search-submit{
    min-width: 100px;
    border: 1px solid var(--light-gray);
    background: none;
    border-radius: 5px;
}
.search-container .search-submit:hover{
    border: 1px solid var(--blue);
}
.search-box i{
    position: absolute;
    font-size: 1.8em;
    color: var(--blue);
    top: 6px;
    left: 5px;
}
/* FRIEND CARD COMPONENT */
.friend-container{
    width: 90%;
    background-color: var(--component-bg);
    padding: 10px;
    box-shadow: 0px 0px 4px 0px var(--fade);
    margin-bottom: 15px;
    font-size: 0.95em;
    gap: 10px;
    text-decoration: none;
    display: flex;
    height: auto;
    min-height: 150px;
    max-height: 500px;
}
.friend-container:hover{
    box-shadow: 0px 0px 4px 0px rgb(145, 145, 145);
}
.friend-container .info-shell{
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 0.7fr 1fr;
    align-items: center;
    gap: 20px;
}
.friend-container .stars{
    width: fit-content;
    margin: auto;
}
.friend-container img{
    max-width: 120px;
    border-radius: 50%;
}
.friend-container .left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 120px;
    justify-content: center;
    position: relative;
    max-height: 130px;
}
.friend-container .right-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.friend-container .rating-part{
    min-width: 120px;
}

.action-part button{
    height: 40px;
    max-width: 150px;
    border: none;
    border: 1px solid var(--light-gray);
    background: var(--expander-gray);
    border-radius: 5px;
    min-width: 150px;
    font-size: 16px;
    display: block;
    margin: auto;
}
.action-part button:hover{
    box-shadow: 0px 0px 4px 0px gray;
}
.friend-container .level-container{
    position: absolute;
    bottom: 0;
}
.friend-container .level, .level-container .level{
    padding: 2px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--component-bg);
}
.friend-container small{
    font-size: 15px;
    color: var(--pre-text);
}
.friend-container h2{
    font-weight: 500;
}
.friend-container .profile-link-heading{
    text-decoration: none;
}
.friend-container .price-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1em;
    width: 150px;
}
.rating-part svg{
    width: 20px;
}
.rating-part .star{
    fill: var(--star-color);
}
.rating-part .no-star{
    fill: var(--light-gray);
}
.rating-part p{
    text-align: center;
}
.price-part strong{
    font-size: 25px;
}
.friend-container .rating-container, 
.friend-container .price-container{
    display: flex;
    gap: 5px;
}
.rating-container svg{
    fill: var(--star-color);
    stroke: var(--text);
    stroke-width: 20;
    width: 21px;
    height: 21px;
}
.price-container svg{
    fill: var(--checkmark-color);
    width: 20px;
    height: 20px;
}
.friend-container .interest-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 5px 0px;
}
.interest-item{
    padding: 2px 10px;
    border-radius: 20px;
}
/* RIGHT CONTAINER */
.right-container{
    padding-right: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 30px;
    font-size: 0.9em;
}
.right-container h2{
    font-weight: 400;
    font-size: 20px;
}
.right-container small{
    color: var(--pre-text);
}
.right-container hr{
    margin: 20px 0px;
    color: var(--fade);
}
/* STATS COMPONENT */
.stats-container .stats{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}
.stats .stat-item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}
.stat-item .name {
    display: flex;
    gap: 10px;
}
.stat-item svg{
    width: 18px;
    height: 17px;
}
.stat-item .visitor-stat{
    fill: var(--pre-text);
}
.stat-item .order-stat{
    fill: var(--checkmark-color);
}
.stat-item .friend-stat{
    fill: var(--pink);
}
.stat-item .user-stat{
    fill:var(--blue-hover)
}
/* NOTIFICATIONS COMPONENT */
.notification-container .notifications{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notification-container img{
    width: 45px;
    height: 45px;

}
.notifications .notification-item{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.notification-item p{
    align-self: center;
}
.notification-container a{
    text-decoration: none;
}
.notification-container a:hover{
    text-decoration: underline;
}
/* NEWS COMPONENT */
.news-container .news{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 0.9em;
}
.news-container .marker{
    padding: 2px 10px;
    border-radius: 15px;
    background-color: var(--soft-blue);
    height: min-content;
    align-self: center;
}
.news .news-item{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    min-height: 48px;
}
.news-item h3{
    align-self: center;
    font-weight: 400;
}
.news-container a{
    text-decoration: none;
}
.news-container a:hover{
    text-decoration: underline;
}
/* MEETING MANAGER */
.middle-container .manager-container{
    width: 100%;
    background: white;
    max-width: 1000px;
    margin-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px 0px var(--fade);
    padding: 0px 20px;
}
.manager-container .meeting-expander{
    width: 100%;
    margin: 20px 0px;
    border-radius: 20px;
    background-color: var(--expander-gray);
    padding: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}
.meeting-expander .closed-icon{
    max-width: 12px;
}
.meeting-expander .open-icon{
    max-width: 17px;
}
.manager-container h2{
    font-size: 1em;
    font-weight: 400;
}
#active-meeting-expander{
    background-color: var(--light-green);
}
.manager-container table{
    width: 100%;
    border-collapse: collapse;
}
.manager-container table img{
    max-width: 45px;
    border-radius: 50%;
}
.manager-container table hr{
    width: 100%;
}
table .user-info>a{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
table .user-info .upper{
    align-items: baseline;
    align-self: baseline;
}
table .user-info .lower{
    align-items: end;
    align-self: end;

}

.manager-container th, .manager-container td{
    padding: 0px 15px 10px 15px;
    vertical-align: top;
}
.manager-container td{
    vertical-align: top;
    padding-top: 10px;
}
.manager-container tr{
    border-top: 1px solid var(--light-gray);
    position: relative;
}
.manager-container table .table-head{
    border-bottom: 1px solid var(--light-gray);
    border-top: none;
}
.manager-container .meeting-detail-header{
    width: 40%;
}
.manager-container .meeting-status-header{
    width: 25%;
}
.meeting-details ul{
    list-style: none;
    padding: 0px;
    line-height: 1.5;
}
.manager-container .order-price, .manager-container .order-number{
    text-align: center;
}
.manager-container .user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.manager-container table .user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.manager-container .cancel-icon{
    fill: var(--red);
    width: 25px;
}
.manager-container .accept-icon{
    fill: var(--accept-color);
    width: 25px;
}
.manager-container .btn{
    background-color: white;
    max-width: 130px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}
.manager-container .btn:hover{
    text-decoration: none;
}
.manager-container .table-form{
    display: flex;
    justify-content: center;
}
.manager-container .alert-color-box{
    min-width: 15px;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 0;
    border-radius: 20px;
}
.manager-container .green{
    background: var(--light-green);
}
.manager-container .blue{
    background: var(--blue-notification);
}
.manager-container .yellow{
    background-color: var(--yellow);
}
.manager-container .red{
    background-color: var(--red);
}
.manager-container .gray{
    background-color: var(--light-gray);
}
.manager-container .order-status p{
    padding-right: 5px;
}
.modal {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    max-width: 600px;
 }
  .model-inner {
    background-color: white;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.modal-header h3{
    font-weight: 500;
}
[x-cloak] {
    display: none !important;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.50;
}
.modal #reason, .modal #comment{
    width: 100%;
    box-shadow: inset 1px 1px 2px 2px var(--fade);
    border: none;
    min-height: 100px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 15px;
    resize: none;
}
.modal form .aligner{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    grid-column: span 2;
}
.modal form button{
    min-width: 100px;
    font-size: 16px;
    min-height: 35px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: underline;
}
.modal form button:hover{
    text-decoration: none;
}
.modal .warning{
    background-color: var(--yellow);
}
.modal .shell{
    position: relative;
}
.modal #text-counter {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.modal ul{
    margin: 10px auto;
}
.modal p{
    margin: 10px auto;
}
.modal input[type='file']{
    max-width: 180px;
    display: block;
}
.modal .profile-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}
.modal .aligner .profile-field{
    width: 100%;
}
.modal textarea{
    height: 300px;
    resize: none    ;
}
.modal .meeting-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}
.modal .meeting-field-row{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: right;
    gap: 10px;
}
.modal hr{
    margin: 20px 0px;
}
.modal .profile-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modal .profile-form input[type='date']{
    width: fit-content;
}
.modal .profile-form input[type='text'], .modal .profile-form select{
    max-width: 150px;
}
.modal .profile-form input[type='number']{
    max-width: 65px;
}
.friend-settings-form input[type="text"],.friend-settings-form input[type="number"]{
    max-width: 100px;
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.friend-settings-form input[type="checkbox"]{
    width: 19px;
    height: 19px;
}
form .color-box{
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    transition: 500ms;
}
form .color-picker{
    display: flex;
    width: fit-content;
    gap: 10px;
    background: white;
    box-shadow: 0px 0px 5px 2px var(--fade);
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0px;
    align-items: center;
}
.color-picker .color-box:hover{
    transition: 500ms;
    border: 1px solid black;
}
.color-picker .selected-color{
    border: 1px solid black;
}
form .flex-col{
    display: flex;
    flex-direction: column;
}
form .flex-row{
    display: flex;
    flex-direction: row;
}
.profile-form .age-gender{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.meeting-form .flex-row{
    gap: 20px;
}
.modal .explainer{
    display: block;
    margin-bottom: 20px;
}
.meeting-form #meeting-length{
    width: 60px;
}
.meeting-form #meeting-price{
    border: none;
    color: black;
    width: 80px;
}
.meeting-form #meeting-address{
    box-shadow: inset 1px 1px 2px 2px var(--fade);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 15px;
}
.meeting-form .bolder{
    font-size: 20px;
    font-weight: 600;
}
/* PROFILE MANAGER */
.middle-container .profile-manager{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.profile-manager .description-container{
    margin-right: 20px;
}
.profile-manager .description-container p{
    margin-top: 20px;
}
.profile-manager svg{
    width: 20px;
    height: 20px;
}
.profile-manager .images-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    justify-content: space-evenly;
}
.profile-manager .info-container{
    display: flex;
    flex-direction: column;
}
.profile-manager .details-container{
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    gap: 10px;
    align-items: center;
}
.carousel svg{
    width: 10px;
}
.images-container .carousel{
    display: flex;
    align-items: center;
    gap: 5px;
}
.images-container .image-container img{
    max-width: 160px;
    border-radius: 50%;
}
.images-container .img-preview{
    max-width: 40px;
}
.images-container .img-preview img{
    width: 100%;
    border-radius: 50%;
}
.info-container .name-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.info-container .level-container{
    display: flex;
    gap: 50px;
    margin: 5px 0px;
}
.info-container .name-container small{
    font-size: 20px;
    color: var(--pre-text);
}
.info-container .id-container{
    display: flex;
    gap: 5px;
}
.info-container .id-container svg{
    width: 20px;
}
.info-container .id-container p{
    font-size: 1.1em;
    font-style: italic;
}
.info-container .detail-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0px;
}
.detail-grid>div{
    display: flex;
    gap: 10px;
}
.info-container h1{
    font-weight: 400;
    font-size: 1.8em;
}
.info-container .interest-container{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.info-container .rating svg{
    fill: var(--star-color);
    stroke: var(--text);
    stroke-width: 20;
}
.info-container .price-container{
    margin-top: auto;
}
.info-container .price-container p{
    font-size: 1.5em;
}
.profile-manager .btn-container{
    display: flex;
    gap: 20px;
}
.profile-manager .btn-container button {
    background: var(--yellow);
    border: 1px solid black;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: underline;
}
.profile-manager .btn-container button:hover{
    text-decoration: none;
}
/* LOGIN AND REGISTER PAGES */
.middle-container .login-form-container{
    box-shadow: 0px 0px 4px 0px var(--fade);
    border-radius: 25px;
    background-color: white;
    max-width: 650px;
    width: 100%;
    margin-top: 50px;
}
.login-form-container .link-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--fade);
}
.link-container a{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.link-container a:first-child{
    border-right: 1px solid var(--fade);
    border-radius: 25px 0px 0px 0px;
}
.link-container a:last-child{
    border-right: 1px solid var(--fade);
    border-radius: 0px 25px 0px 0px;
}
.link-container .current-page{
    background-color: var(--soft-blue);
    text-decoration: none;
    cursor: default;
}
.login-container .login{
    padding: 20px 30px;
}
.login .field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.login input[type="email"], .login input[type="password"], .login input[type="input"], .login select, .login input[type="date"]  {
    border-radius: 15px;
    border: 1px solid var(--fade);
    box-shadow: 0px 0px 4px 1px var(--fade);
    font-size: 20px;
    padding-left: 12px;
    background-color: white;
    height: 35px;
}
.login label{
    font-size: 1em;
    padding-left: 10px;
    color: var(--pre-text);
}
.login #remember-me, .login #agreement{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    vertical-align: top;
}
.login #login-btn{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    text-decoration: underline;
    background-color: var(--light-green);
    border: 1px solid var(--fade);
    cursor: pointer;
}
.login #login-btn:hover{
    text-decoration: none;
}
.login .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.login .grid-container input, .login .grid-container select{
    max-width: 200px;
    width: 100%;
}
.login .grid-container #gender{
    width: fit-content;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1030px) {
    .right-container{
        display: none;
    }
    .main-triple-split{
        grid-template-columns: 1fr 3fr;
    }
  }
@media only screen and (max-width: 800px){
    .main-triple-split{
        display: block;
    }
    .left-container{
        display: none;
    }
}